.nav-links {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .nav-links {
      margin-top: 0;
  }
}

.nav-links li a {
  color: var(--blanco);
  text-decoration: none;
  text-transform: uppercase;
  padding: .5rem;
  font-size: 1.4rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: .3s;
}
.nav-links li a:hover {
  background-color: var(--primary);
}


@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    border-radius: 5px;
  }

  .hamburger {
    margin-top: 5rem;
    position: relative;
    cursor: pointer;
    right: auto;
    transform: translate(-500%, -50%);
    z-index: 2;  
  }

  .nav-links {
    position: absolute;
    background: #131313 ;
    height: 60vh;
    width: 50vh;
    transform: translate(-15%, -23%);
    flex-direction: column;
    clip-path: circle(1px at 90% -26%);
    -webkit-clip-path: circle(1px at 90% -26%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1px at 90% -26%);
    -webkit-clip-path: circle(1000px at 90% -26%);
    pointer-events: all;

  }
  .nav-links li a {
    position: fixed;
    font-size: 1.4rem;
    padding: 1rem  5rem;
    border: 2px solid var(--primary);
    color: var(--blanco);
    text-transform: uppercase;
    margin: 20px;
  }
}
/* tabla de carrito */
.tablaa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  background: none;
}

table tr{
  text-align: left;
  padding-bottom: 15px;
  color: #ddd;
  border: 1px solid;
}
table tr th{
  text-align: left;
  padding-bottom: 15px;
  color: #FFF;
  text-transform: uppercase;
  background-color: #B09700;
  border: 10px solid #B09700;
}
table tr td{
  text-align: left;
  padding-bottom: 15px;
  color: #FFF;
  background-color: #262626;
}
table tr td a{
  text-align: left;
  padding-bottom: 15px;
  color: #FFF;
  background-color: #262626;
  text-transform: uppercase;
  text-decoration: none;
}
table tr td a:hover{
  text-align: left;
  padding-bottom: 15px;
  color: #FFF;
  background-color: #B09700;
}
.total p{
  text-align: left;
  padding-bottom: 15px;
  color: #FFF;
  background-color: #262626;
  text-transform: uppercase;
  text-decoration: none;
}
.total p:hover{
  text-align: left;
  padding-bottom: 15px;
  color: #FFF;
  background-color: #B09700;
}
.boton{
  text-align: left;
  padding-bottom: 15px;
  color: #FFF;
  background-color: #262626;
  text-transform: uppercase;
  text-decoration: none;
}
/*Botones de paypal*/
.paypal1 {color: #003087; font-size: 22px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic;}
.paypal2 {color: #009CDE; font-size: 22px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-style: italic;}
.paypal3 {color: #000000; font-size: 17px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.paypal4 {color: #fafafa; font-size: 17px; font-family: Arial, Helvetica, sans-serif; }
.myButton0a {width: 250px; background-color:#FFC439; border-radius:4px; display:inline-block; cursor:pointer; padding:12px; text-align:center; text-decoration:none; margin-bottom: 5px; }
.myButton0a:hover {background-color:#fcba1f; }
.myButton0a:active {position:relative; top:1px; }
.myButton1a {width: 250px; background-color:#000000; border-radius:4px; display:inline-block; cursor:pointer; padding:12px; text-align:center; text-decoration:none; }
.myButton1a:hover {background-color:#2b2b2b; }
.myButton1a:active {position:relative; top:1px; }