{% extends 'layout3.html' %}
{% block title %}
<title>Don Juan Trading: Admin</title>
{% endblock %}
{% block body %}

<body class="background__registro">

    <section class="fomulario__registro">
        <h3>Página prohibida para personal no autorizado.</h3>
        <h4 style="text-align: center ;">Administrador</h4>

        <a class="botons" href="{{ url_for('crearproducto') }}">Registar nuevo Producto</a>
        <a class="botons" href="{{ url_for('ver_productos') }}">Ver Productos</a>
        <a class="botons" href="{{ url_for('ver_pedidos2') }}">Ver Pedidos</a>
        <a class="botons" href="{{ url_for('ver_clientes') }}">Ver Clientes</a>
        <a class="botons" href="{{ url_for('ver_ventas') }}">Ver Ventas</a>
        
    </section>
{% endblock %}
