{% extends 'layout3.html' %}
{% block title %}
<title>Don Juan Trading: Cerrar sesion</title>
{% endblock %}
{% block body %}

<body class="background__registro">

    <section class="fomulario__registro">
        <h4>Cerrar sesion</h4>
        <a href="#index.html"><input class="botons" type="submit" value="Cerrar sesion"></a>

        <!--<input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
        <a href="#index.html"><input class="botons" type="submit" value="Iniciar Sesión"></a>--><!--funcionalidad python-->
    </section>
{% endblock %}