{% extends 'layout3.html' %}
{% block title %}
    <title>Don Juan Trading: Pedido Realizado</title>
{% endblock %}
{% block body %}
<body class="background__registro">

    <section class="fomulario__registro">
        <h4>¡Pedido Realizado!</h4>
        <a href="{{ url_for('/ver/pedidos) }}"><input class="botons" type="submit" value="Ver pedido"></a>
        <a href="{{ url_for('Califiquenos') }}"><input type="submit" class="botons" value="Califiquenos!!"></a>
    </section>
{% endblock %}