{% extends 'layout2.html' %}
{% block title %}
    <title>Don Juan Trading: Fantasma</title>
{% endblock %}
{% block main %} 
    <main class="contenedor">
        <div class="producto">
            <img class="producto__imagen" src="{{ url_for('static', filename='img/mezcal_02.png') }}" alt="imagen mezcal">

            <div class="producto__contenido">
                <h3 class="producto__nombre">{{ registros[1] }}</h3>
                <p class="producto__descripcion">{{ registros[2] }}</p>
                <p class="producto__descripcion">Mezcal con ligeros aromas frutales y leves notas a quiote. Sabor muy dulce al degustar, al pasarlo lentamente desde la punta de los dientes atravesando toda la lengua hasta el final de nuestra boca, se presentan delicados sabores de agave dulce cocido y notas ahumadas. Retrogusto ligeramente a vainilla y a frutos verdes.</p>
                <p class="producto__precio">${{ registros[5] }}</p>

                <form class="producto__formulario">
                    <label class="producto__label">Cantidad:</label>
                    <p></p>
                    <select class="producto__cantidad">
                        <option value="">-- Seleccione --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                    <input
                        type="submit"
                        class="producto__agregar-carrito"
                        value="Agregar al Carrito"
                    >
                </form>
            </div>
        </div><!--./producto-->
    </main>
{% endblock %}