{% extends 'layout2.html' %}
{% block title %}
    <title>Don Juan Trading: Sangre de Indio</title>
{% endblock %}
{% block main %}
    <main class="contenedor">
        <div class="producto">
            <img class="producto__imagen" src="{{ url_for('static', filename='img/mezcal_01.png') }}" alt="imagen mezcal">

            <div class="producto__contenido">
                <h3 class="producto__nombre">Sangre de Indio</h3>
                <p class="producto__descripcion">Mezcal tradicional, representativo de la región de Nombre de Dios, Durango, Mex.  El mejor para degustar solo, como un trago derecho, es un Mezcal dulce para el conocedor. El mejor para abrir la imaginación al intentar descifrar el origen de sus ricos aromas cítrico ahumados. Para el consumidor familiarizado en el tema es un Mezcal interesante por el juego y combinación de aromas distintivos de un proceso artesanal, así como de las materias primas y herramientas con las que se elabora que en conjunto crean un carácter extraordinario en el destilado.</p>
                <p class="producto__descripcion">Sabor ahumado, con aromas frutales, herbales y contrastantes notas cítricas típicas del membrillo. Dulce con presencia de notas a madera, especias, agave cocido y frutas de la región. Retrogusto agradable con notas aromáticas de la madera, y agave dulce, terminado con un buen fin de boca mineralizado. </p>
                <p class="producto__precio">$499</p>

                <form class="producto__formulario">
                    <label class="producto__label">Cantidad:</label>
                    <p></p>
                    <select class="producto__cantidad">
                        <option value="">-- Seleccione --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                    <input
                        type="submit"
                        class="producto__agregar-carrito"
                        value="Agregar al Carrito"
                    >
                </form>
            </div>
        </div><!--./producto-->
    </main>
{% endblock %}