{% extends 'layout2.html' %}
{% block title %}
    <title>Don Juan Trading: Plata</title>
{% endblock %}
{% block main %}
    <main class="contenedor">
        <div class="producto">
            <img class="producto__imagen" src="{{ url_for('static', filename='img/mezcal_03.png') }}" alt="imagen mezcal">

            <div class="producto__contenido">
                <h3 class="producto__nombre">Plata</h3>
                <p class="producto__descripcion">Suave,  refinado, avainillado y  muy sutil al paladar. Por su baja graduación en alcohol y su delicadez, es apto para aquellas personas que degustaran el Mezcal por primera vez. Es ligero en aromas y sabores, el mezcla ideal para la elaboración de cócteles, originando un sabor exquisito de alta calidad, versátil para crear bebidas.</p>
                <p class="producto__descripcion">Sabor fresco, dulce aroma avainillado, con leves notas a manzana verde. Presenta ligeros aromas de agave cocido, madera, y humo. Retrogusto suave, dulce, terminado con un buen fin de boca ligero a madera, agave y peron.</p>
                <p class="producto__precio">$799</p>

                <form class="producto__formulario">
                    <label class="producto__label">Cantidad:</label>
                    <p></p>
                    <select class="producto__cantidad">
                        <option value="">-- Seleccione --</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>

                    <input
                        type="submit"
                        class="producto__agregar-carrito"
                        value="Agregar al Carrito"
                    >
                </form>
            </div>
        </div><!--./producto-->
    </main>
{% endblock %}