{% extends 'layout3.html' %}
{% block title %}
    <title>Don Juan Trading: Registro</title>
{% endblock %}
{% block body %}
<body class="background__registro">

    <section class="fomulario__registro">
        <h5>Paso 1 de 3</h5>
        <h4>Crear una cuenta</h4>

        <form action="/registro/paso2" method="post" id="form1">
            <input class="controls" type="text" name="nombre" id="nombres" placeholder="Ingrese su Nombre" required>
            <input class="controls" type="text" name="apellido" id="apellidos" placeholder="Ingrese su Apellido" required>
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>
            <input class="controls" type="password" name="contrasena" id="contrasena" placeholder="Ingrese su Contraseña" required>
            <input class="controls" type="password" name="contrasena2" id="contrasena2" placeholder="Confirme su Contraseña" required>
            <button class="botons" type="submit" onclick="validarContrasena()">Siguiente</button>
        </form>
        <!--en caso de messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <!--<a href="{{ url_for('registro2') }}"><input class="botons" type="submit" value="Siguente"></a>-->
        <p><a href="/iniciodesesion">¿Ya tengo Cuenta?</a></p>
    </section>
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
{% endblock %}