{% extends 'layout3.html' %}
{% block title %}
<title>Don Juan Trading: Admin</title>
{% endblock %}
{% block body %}

<body>

    <section>
        <h3>Página prohibida para personal no autorizado.</h3>
        <h4 style="text-align: center ;">Administrador</h4>

        <div>
            <div class="productos__grid">
                {% for productos in registros %}
                    <div class="producto">
                        <div class="producto__contenido">
                            <h3 class="producto__nombre">Nombre: {{ productos.1 }}, {{productos.2}}</h3>
                            <p class="producto__descripcion">Correo: {{ productos.3 }}</p>
                            <p class="producto__precio">Direccion: {{ productos.4 }},{{ productos.5 }},{{ productos.6 }},{{ productos.7 }}</p>
                            <a class="producto__enlace" href="/835D6DC88B708BC646D6DB82C853EF4182FABBD4A8DE59C213F2B5AB3AE7D9BE/eliminar/cliente/{{ productos.0 }}">Eliminar Cliente</a>
                        </div><!--./producto-->
                    </div>
                {% endfor %}
        </div>
        <a href="{{ url_for('admin') }}">Regresar</a>
        
    </section>
{% endblock %}